= simple_form_for(@task, html: { class: 'form-horizonal'}) do |f|
  = f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a Category" }
  %br/
  %br/
  = f.input :title, label: 'Title'
  = f.input :description, label: 'Description'
  = f.input :company, label: 'Who Are You?'
  = f.input :url, label: 'Task URL'
  %br/
  = f.button :submit
