!!!
%html
  %head
    %title Chore Bunny
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    = csp_meta_tag

    %body
      %nav.navbar.navbar-default
        .container
          = link_to image_tag("chorebunny.png", id: "navbar-logo"), new_task_path
          .navbar-brand= link_to "ChoreBunny", root_path
          %ul.nav.navbar-nav
            - Category.all.each do |category|
              %li= link_to category.name, tasks_path(category: category.name)
      .container
        .col-md-9
          = yield
